body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 550px;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
    
  }

  .form-group1 {
    margin-bottom: 15px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content:space-between;
    
  }

  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    height: 80px;
    resize: none;
  }
  
  .form-group-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .half-width {
    width: 48%;
    
  }
  
  /* Add Product Button */
  .add-product-btn {
    background-color: orange;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
  }
  
  /* Modal Styling */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    position: relative;
  }
  
  h3 {
    margin-bottom: 15px;
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .save-btn {
    background-color: navy;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Submit Button */
  .submit-btn {
    width: 100%;
    background-color: navy;
    color: white;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  